body{
    background-color: black;
    color: red;
}
h1,h2{
    color: red;
    text-align: center;
}
p{
    background-color: black;
    color: red;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: red;
    padding: 10px 0;
    text-align: center;
}
ul{
    background-color: black;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 15px 30px;
    color: red;
    text-decoration: none;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    min-width: 100%;
    background-color: black;
    display: none;
    position: absolute;
    z-index: 999;
}
ul li a:hover{
    background-color: red;
}
ul li:hover ul.dropdown{
    display: block;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: black;
    padding: 5px;
    overflow: hidden;
    color: red;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff00001f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: red;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, red, darkred);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid red;
    outline: none;
    background: transparent;
    color: red;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, red, darkred);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: black;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login {
    left: 50px;
}
#register {
    left: 450px;
}
